nav {
  transform: translateY(-10px);
  opacity: 0.9;
}

.nav-scrolled {
  transform: translateY(0);
  opacity: 1;
  background-color: #0b1620;
}
/* navbar.css */
a:focus,
a:active {
  outline: none;
  box-shadow: none;
}
.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #f97316;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

